input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 2px solid #4CAF50;
}

select {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

option {
  padding: 5px;
  font-size: 16px;
}
