body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    max-width: 900px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px;
}

input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    max-width: 325px;
    border-radius: 5px;
    border: 1px solid;
}

select {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 325px;
}
